@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>User Id:@ViewData["UserId"]</p>
    
</div>
<div >
    <h1><bold>Security Policies</bold></h1>
    <p >
        Security policies are a formal set of rules which is issued by an organization to ensure that the user who are authorized to access company technology and information assets comply with rules and guidelines related to the security of information. It is a written document in the organization which is responsible for how to protect the organizations from threats and how to handles them when they will occur. A security policy also considered to be a "living document" which means that the document is never finished, but it is continuously updated as requirements of the technology and employee changes.
    </p>
    <h1><bold>Need of Security policy</bold></h1>
    <ol>
        <li>
            It increases efficiency.
        </li>
        <li>
            It upholds discipline and <a href="https://www.investopedia.com/thmb/AVpAWPvTYd4G23wSkciPrljKzKc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/https-www.investopedia.com-terms-a-accountability-primary-FINAL-2be10e089f5d42629803cea7885a023d.png">accountability</a>
        </li>
        <li>
            It can make or break a business deal
        </li>
        <li>
            It helps to educate employees on security <a href="https:www.google.com"> literacy</a>
        </li>
    </ol>

</div>
